In [169]:
import numpy as np
import pandas as pd
import os,json

In [137]:
PATH = "/Users/ayadav/Documents/personal/DS/springboard/data_wrangling_json_3/data/*"

In [138]:
!ls {PATH}

/Users/ayadav/Documents/personal/DS/springboard/data_wrangling_json_3/data/world_bank_projects.json
/Users/ayadav/Documents/personal/DS/springboard/data_wrangling_json_3/data/world_bank_projects_less.json

### Create path for loading file

In [139]:
PATH1= "/Users/ayadav/Documents/personal/DS/springboard/data_wrangling_json_3/data/world_bank_projects.json"

In [140]:
!ls {PATH1}

/Users/ayadav/Documents/personal/DS/springboard/data_wrangling_json_3/data/world_bank_projects.json

### Load second file

In [183]:
PATH2 = "/Users/ayadav/Documents/personal/DS/springboard/data_wrangling_json_3/data/world_bank_projects_less.json"

In [184]:
data = pd.read_json(PATH1)

In [185]:
print(data)

                                                sector supplementprojectflg  \
0    [{'Name': 'Primary education'}, {'Name': 'Seco...                    N
1    [{'Name': 'Public administration- Other social...                    N
2    [{'Name': 'Rural and Inter-Urban Roads and Hig...                    Y
3                  [{'Name': 'Other social services'}]                    N
4    [{'Name': 'General industry and trade sector'}...                    N
..                                                 ...                  ...
495  [{'Name': 'General agriculture, fishing and fo...                    N
496  [{'Name': 'Central government administration'}...                    N
497  [{'Name': 'Irrigation and drainage'}, {'Name':...                    N
498  [{'Name': 'Agricultural extension and research...                    N
499  [{'Name': 'Urban Transport'}, {'Name': 'Public...                    N

    projectfinancialtype prodline  \
0                    IDA       PE
1                  OTHER       RE
2                    IDA       PE
3                  OTHER       RE
4                    IDA       PE
..                   ...      ...
495                OTHER       RE
496                  IDA       PE
497                OTHER       RE
498                 IBRD       PE
499                  IDA       PE

                                               mjtheme  idacommamt  \
0                                  [Human development]   130000000
1    [Economic management, Social protection and ri...           0
2    [Trade and integration, Public sector governan...     6060000
3    [Social dev/gender/inclusion, Social dev/gende...           0
4    [Trade and integration, Financial and private ...    13100000
..                                                 ...         ...
495  [Financial and private sector development, Soc...           0
496  [Human development, Trade and integration, Pub...    20000000
497                                [Rural development]           0
498  [Rural development, Rural development, Rural d...           0
499  [Urban development, Human development, Trade a...   300000000

                                             impagency  \
0                                MINISTRY OF EDUCATION
1                                  MINISTRY OF FINANCE
2             MINISTRY OF TRANSPORT AND COMMUNICATIONS
3             LABOR INTENSIVE PUBLIC WORKS PROJECT PMU
4                       MINISTRY OF TRADE AND INDUSTRY
..                                                 ...
495                        THE COMPETITIVENESS COMPANY
496                                MINISTRY OF FINANCE
497  MINISTRY OF AGRICULTURE AND PRODUCER ORGANISAT...
498  INDONESIAN AGENCY FOR AGRICULTURAL RESEARCH AN...
499                                  MINISTRY OF ROADS

                                          project_name mjthemecode  \
0    Ethiopia General Education Quality Improvement...        8,11
1            TN: DTF Social Protection Reforms Support         1,6
2    Tuvalu Aviation Investment Project - Additiona...    5,2,11,6
3     Gov't and Civil Society Organization Partnership         7,7
4    Second Private Sector Competitiveness and Econ...         5,4
..                                                 ...         ...
495  Technological Scale Up for Youth-led Urban Orn...         4,7
496                Lao Eight Poverty Reduction Support     8,5,2,8
497  Second Emergency Agricultural Productivity Sup...        10,6
498  Sustainable Management of Agricultural Researc...    10,10,10
499  KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...     9,8,5,4

              closingdate  ...  \
0    2018-07-07T00:00:00Z  ...
1                     NaN  ...
2                     NaN  ...
3                     NaN  ...
4    2019-04-30T00:00:00Z  ...
..                    ...  ...
495  2013-08-31T00:00:00Z  ...
496  2012-12-31T00:00:00Z  ...
497  2014-12-31T00:00:00Z  ...
498  2017-09-30T00:00:00Z  ...
499  2018-12-31T00:00:00Z  ...

                                   majorsector_percent board_approval_month  \
0    [{'Percent': 46, 'Name': 'Education'}, {'Perce...             November
1    [{'Percent': 70, 'Name': 'Public Administratio...             November
2         [{'Percent': 100, 'Name': 'Transportation'}]             November
3    [{'Percent': 100, 'Name': 'Health and other so...              October
4    [{'Percent': 50, 'Name': 'Industry and trade'}...              October
..                                                 ...                  ...
495  [{'Percent': 50, 'Name': 'Agriculture, fishing...               August
496  [{'Percent': 36, 'Name': 'Public Administratio...               August
497  [{'Percent': 40, 'Name': 'Agriculture, fishing...               August
498  [{'Percent': 80, 'Name': 'Agriculture, fishing...               August
499  [{'Percent': 79, 'Name': 'Transportation'}, {'...               August

                                        theme_namecode  \
0        [{'code': '65', 'name': 'Education for all'}]
1    [{'code': '24', 'name': 'Other economic manage...
2    [{'code': '47', 'name': 'Regional integration'...
3    [{'code': '57', 'name': 'Participation and civ...
4    [{'code': '45', 'name': 'Export development an...
..                                                 ...
495  [{'code': '40', 'name': 'Regulation and compet...
496  [{'code': '63', 'name': 'Child health'}, {'cod...
497  [{'code': '91', 'name': 'Global food crisis re...
498  [{'code': '78', 'name': 'Rural services and in...
499  [{'code': '73', 'name': 'Municipal governance ...

                                 countryname  \
0    Federal Democratic Republic of Ethiopia
1                        Republic of Tunisia
2                                     Tuvalu
3                          Republic of Yemen
4                         Kingdom of Lesotho
..                                       ...
495                                  Jamaica
496         Lao People's Democratic Republic
497                       Republic of Guinea
498                    Republic of Indonesia
499                        Republic of Kenya

                                                   url source  \
0    http://www.worldbank.org/projects/P129828/ethi...   IBRD
1    http://www.worldbank.org/projects/P144674?lang=en   IBRD
2    http://www.worldbank.org/projects/P145310?lang=en   IBRD
3    http://www.worldbank.org/projects/P144665?lang=en   IBRD
4    http://www.worldbank.org/projects/P144933/seco...   IBRD
..                                                 ...    ...
495  http://www.worldbank.org/projects/P127299/tech...   IBRD
496  http://www.worldbank.org/projects/P125298/lao-...   IBRD
497  http://www.worldbank.org/projects/P128309/seco...   IBRD
498  http://www.worldbank.org/projects/P117243/sust...   IBRD
499  http://www.worldbank.org/projects/P126321/keny...   IBRD

    projectstatusdisplay ibrdcommamt  \
0                 Active           0
1                 Active           0
2                 Active           0
3                 Active           0
4                 Active           0
..                   ...         ...
495               Closed           0
496               Closed           0
497               Active           0
498               Active    80000000
499               Active           0

                                       sector_namecode  \
0    [{'code': 'EP', 'name': 'Primary education'}, ...
1    [{'code': 'BS', 'name': 'Public administration...
2    [{'code': 'TI', 'name': 'Rural and Inter-Urban...
3    [{'code': 'JB', 'name': 'Other social services'}]
4    [{'code': 'YZ', 'name': 'General industry and ...
..                                                 ...
495  [{'code': 'AZ', 'name': 'General agriculture, ...
496  [{'code': 'BC', 'name': 'Central government ad...
497  [{'code': 'AI', 'name': 'Irrigation and draina...
498  [{'code': 'AB', 'name': 'Agricultural extensio...
499  [{'code': 'TC', 'name': 'Urban Transport'}, {'...

                                      _id
0    {'$oid': '52b213b38594d8a2be17c780'}
1    {'$oid': '52b213b38594d8a2be17c781'}
2    {'$oid': '52b213b38594d8a2be17c782'}
3    {'$oid': '52b213b38594d8a2be17c783'}
4    {'$oid': '52b213b38594d8a2be17c784'}
..                                    ...
495  {'$oid': '52b213b38594d8a2be17c96f'}
496  {'$oid': '52b213b38594d8a2be17c970'}
497  {'$oid': '52b213b38594d8a2be17c971'}
498  {'$oid': '52b213b38594d8a2be17c972'}
499  {'$oid': '52b213b38594d8a2be17c973'}

[500 rows x 50 columns]

In [188]:
data2 = pd.read_json(PATH2)

In [189]:
!ls {PATH2}

/Users/ayadav/Documents/personal/DS/springboard/data_wrangling_json_3/data/world_bank_projects_less.json

In [197]:
len(data)

500

In [213]:
print(data.loc[[8,14],['project_name','countryname']])

                                         project_name  \
8         Rajasthan Road Sector Modernization Project
14  NATIONAL UNIFIED REGISTRY AND OUTREACH WORKER ...

                    countryname
8             Republic of India
14  Hashemite Kingdom of Jordan

# Find the 10 countries with most projects\n"

In [204]:
All_country = data['countryname'].value_counts()

In [205]:
print(All_country.head(10))

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
Nepal                              12
People's Republic of Bangladesh    12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

#  Find the top 10 major project themes (using column 'mjtheme_namecode')\n"

In [ ]:
def getMajorCount(dfCol):
    project_dict = {}
    for dfcol in project_theme

In [254]:
df = pd.DataFrame(project_theme)

In [256]:
type(df)

pandas.core.frame.DataFrame

### define function for to project name count

In [273]:
def getSubjectCount(series):
    myDict = {}
    for row in series:
        ## value of list: dict
        for val in row:
           
            if val['name'] in myDict:
                myDict[val['name']] = myDict[val['name']] + 1
                
               
            else:
                myDict[val['name']] = 1
                
    return myDict

In [275]:
project_value = getSubjectCount(data['mjtheme_namecode'])

### Define function to get top n values

In [286]:
def top_project(n,sorted_d):
    topProject = {}
    i = 0
    for key,value in sorted_d.items():
        if i < n:
            topProject[key]=value
            i = i+1
    return topProject

In [287]:
import operator
sorted_data = dict(sorted(project_value.items(), key=operator.itemgetter(1),reverse=True))

In [288]:
print(sorted_data)

{'Environment and natural resources management': 223, 'Rural development': 202, 'Human development': 197, 'Public sector governance': 184, 'Social protection and risk management': 158, 'Financial and private sector development': 130, '': 122, 'Social dev/gender/inclusion': 119, 'Trade and integration': 72, 'Urban development': 47, 'Economic management': 33, 'Rule of law': 12}

In [289]:
l = top_project(11,sorted_data)

In [290]:
print(l)

{'Environment and natural resources management': 223, 'Rural development': 202, 'Human development': 197, 'Public sector governance': 184, 'Social protection and risk management': 158, 'Financial and private sector development': 130, '': 122, 'Social dev/gender/inclusion': 119, 'Trade and integration': 72, 'Urban development': 47, 'Economic management': 33}

In [297]:
project_theme = data['mjtheme_namecode']

In [298]:
print(project_theme.head(10))

0    [{'code': '8', 'name': 'Human development'}, {...
1    [{'code': '1', 'name': 'Economic management'},...
2    [{'code': '5', 'name': 'Trade and integration'...
3    [{'code': '7', 'name': 'Social dev/gender/incl...
4    [{'code': '5', 'name': 'Trade and integration'...
5    [{'code': '6', 'name': 'Social protection and ...
6    [{'code': '2', 'name': 'Public sector governan...
7    [{'code': '11', 'name': 'Environment and natur...
8    [{'code': '10', 'name': 'Rural development'}, ...
9    [{'code': '2', 'name': 'Public sector governan...
Name: mjtheme_namecode, dtype: object

In [294]:
print(project_theme.shape)

(500,)

In [295]:
print(project_theme.dropna().shape)

(500,)

In [296]:
project_theme[0]

[{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': ''}]

# In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.#

In [299]:
print(project_value)

{'Human development': 197, '': 122, 'Economic management': 33, 'Social protection and risk management': 158, 'Trade and integration': 72, 'Public sector governance': 184, 'Environment and natural resources management': 223, 'Social dev/gender/inclusion': 119, 'Financial and private sector development': 130, 'Rural development': 202, 'Urban development': 47, 'Rule of law': 12}

In [301]:
type(project_value)

dict

### Convert file to dataframe

In [307]:
dfProject = pd.DataFrame(project_value.items(), columns=['Project Name', 'Count'])

In [309]:
dfProject.head()

                            Project Name  Count
0                      Human development    197
1                                           122
2                    Economic management     33
3  Social protection and risk management    158
4                  Trade and integration     72

### Replace empty projectname with "noname"

In [328]:
dfProject=dfProject.replace(to_replace = '', value = 'Noname')

### check if any project name has empty name

In [329]:
dfProject[(dfProject['Project Name'] == '')]

Empty DataFrame
Columns: [Project Name, Count]
Index: []

In [330]:
print(dfProject)

                                    Project Name  Count
0                              Human development    197
1                                         Noname    122
2                            Economic management     33
3          Social protection and risk management    158
4                          Trade and integration     72
5                       Public sector governance    184
6   Environment and natural resources management    223
7                    Social dev/gender/inclusion    119
8       Financial and private sector development    130
9                              Rural development    202
10                             Urban development     47
11                                   Rule of law     12